<h2 class="self-center mb-2 text-xl font-light text-gray-800 sm:text-2xl dark:text-white text-center">
  <%= t('.sign_up') %>
</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field my-3">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, class: TailwindHelper.input_classes %>
  </div>

  <div class="field my-3">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: TailwindHelper.input_classes %>
  </div>

  <div class="field my-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class: TailwindHelper.input_classes %>
  </div>

  <div class="field my-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: TailwindHelper.input_classes %>
  </div>

  <div class="field my-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: TailwindHelper.input_classes %>
  </div>

  <div class="actions my-3">
    <%= f.submit t('.sign_up'), class: TailwindHelper.primary_button_classes %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
